* {
  user-select: none;
  box-sizing: border-box;
}

html {
  margin: 0;
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  height: 100%;
  scrollbar-width: none;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

button {
  width: 2rem;
  height: 2rem;
  border: none;
  background: none;
  transition: all 100ms ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.tab {
  width: 100%;
  height: 112px;
  min-height: 112px;
  max-height: 112px;
  display: flex;
}

.tab-thumbnail {
  max-width: 30%;
  height: 100%;
}

.tab-meta {
  padding: 1em;
  max-width: 70%;
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.tab-meta-info-url {
  display: inline-flex;
  align-items: center;
  font-size: small;
}

.tab-meta-info-url > span {
  margin-left: 0.25em;
}

.tab-meta-info-title {
  margin-top: 0.3em;
  font-size: medium;
  font-weight: bold;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.tab-meta-info-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tab-meta-controls {
  gap: 0.75em;
}

.tab-meta-controls > :last-child {
  margin-left: 0.75em;
}
